/*------------------------------------*\
    CONTENTS
\*------------------------------------*/
/*
-----
aux.css overwrites and customizes general style.css 
-----
GENERAL
HEADER

organizations-love
user-experience 
persuasive-tells
is-puxm-right-for-you
single-column
table-layout
led-by-jared
roll-up-your-sleeves
expected-hours
this-intensive-won-t-happen-again-until-november
ready-to-do-this

FOOTER
I'll never try to be smarter with my CSS coding styles than Harry -> https://csswizardry.com/2012/04/my-html-css-coding-style/
*/

/*------------------------------------*\
    $GENERAL
\*------------------------------------*/
.grid26 {
    display: grid;
    grid-template-columns: repeat(26, 1fr);
}
.header-text-shadow {
    text-shadow: 4px 4px 4px rgba(97, 30, 2, 0.19);
}
/*
----------------------------
$BACKGROUNDS
----------------------------
*/
.img-bg {
    background: url("images-aux/bg-aux.png") no-repeat;
    background-size: cover;
}
.img-bg-wide {
    background: url("images-aux/bg-aux-wide.png") no-repeat;
    background-size: cover;
}

.lead .lead-text {
    margin: 20px 30px 5px 0;
    font-weight: 600;
    font-size: 18px;
    background-color: rgb(0, 0, 0);
    color: white;
    display: inline-block;
    padding: 2px 15px;
}
.lead {
    padding: 5px 30px;
}
.lead-wraper{
    padding-top:80px;
    padding-bottom:40px;
}
@media only screen and(max-width: 700px) {
    .lead .lead-text {
        margin: 20px 30px 5px 0;
        font-weight: 600;
        font-size: 15px;
    }
}
.lead {
    padding: 5px 7px;
}
/*------------------------------------*\
    $HEADER
\*------------------------------------*/
.square-svg {
    padding-top: 40px;
    padding-bottom: 40px;
}

.square-svg img {
    padding-left: 20px;
}

#hero .when {
    font-size: 35px;
    font-weight: 500;
    padding-top: 40px;
    font-family: 'Anton', sans-serif;
}

@media screen and(min-width: 1400px) {
    .square-svg {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

@media screen and(max-width: 800px) {
    .basis30 {
        order: 2;
        max-width: 170px;
        padding-top: 25px;
        margin: 0 auto;
    }

    .basis60 {
        order: 1;
    }

    #hero .when {
        padding-top: 10px;
        font-size: 35px;
    }

    .square-svg {
        padding-bottom: 0;
    }

    .square-svg img {
        padding-left: 0;
    }
    .square-svg {
        padding-top: 0;
        padding-bottom: 0;
    }
    .square-svg .container {
        padding-top: 0;
        padding-bottom: 0;
    }
}

.cta-b {
    /* flex: 1; */
    font-family: "Source Sans Pro", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #ffffff !important;
    border-radius: 0;
    background-color: var(--brightYellow);
    text-decoration: none;
    transition: background-color 0.24s ease;
    display: block;
    font-size: 1em;
    font-weight: 600;
    font-size: 1em;
    text-transform: uppercase;
    text-align: center;
    padding: 0.8em 2em;
    max-width: 200px;
    letter-spacing: 1px;
}

.cta-b:hover {
    color: #fff !important;
    background-color: var(--darkYellow);
}

/*------------------------------------*\
    $intro-statements
\*------------------------------------*/
.introStatementsA .sec-desc {
    grid-column: 3 / 15;
    display: grid;
    align-content: center;
}

.introStatementsA .sec-il {
    grid-column: 16 / 26;
}

.introStatementsA .sec-il img {
    margin-top: 0;
}

.shadow-box {
    -webkit-box-shadow: 7px 7px 10px 0 rgb(27 51 91 / 8%);
    -moz-box-shadow: 7px 7px 10px 0 rgba(27, 51, 91, 0.075);
    box-shadow: 5px 5px 10px 0 rgb(27 51 91 / 8%), 13px 13px 15px 0 rgb(27 51 91 / 3%);
}

@media(min-device-width: 800px) and(max-device-width: 1280px) {
    .introStatementsA .sec-desc {
        grid-column: 2 / 14;
    }

    .introStatementsA .sec-il {
        grid-column: 15 / 26;
    }

    .introStatementsA .sec-il img {
        margin-top: 0;
    }
}

@media(max-device-width: 800px) {
    .introStatementsA .sec-il img {
        margin-top: 0;
    }

    .introStatementsA .sec-desc {
        grid-column: 1 / 26;
    }

    .introStatementsA .sec-il {
        grid-column: 1 / 26;
    }

}


.introStatementsB .sec-il {
    grid-column: 3 / 13;
    text-align: right;
}

.introStatementsB .sec-desc {
    grid-column: 14 / 25;
    display: grid;
    align-content: center;
}

.introStatementsB .sec-il img {
    margin-top: 0;
}

@media(min-device-width: 800px) and(max-device-width: 1280px) {
    .introStatementsB .sec-il {
        grid-column: 2 / 13;

    }
    .introStatementsB .sec-il img {
        margin-top: 0;
    }

    .introStatementsB .sec-desc {
        grid-column: 14 / 26;
        display: grid;
        align-content: center;
    }


}

@media(max-device-width: 800px) {
    .introStatementsB .sec-il img {
        margin-top: 0;

    }

    .introStatementsB .sec-desc {
        grid-column: 1 / 26;
        order: 1;
    }

    .introStatementsB .sec-il {
        text-align: left;
        grid-column: 1 / 26;
        order: 2;
    }

}

@media(max-device-width: 800px) {
    .introStatementsB img,
    .introStatementsA img {
        padding: 10px;
        width: 100%;
    }

}
/*------------------------------------*\
    $organizations-love
\*------------------------------------*/
/*------------------------------------*\
    $user-experience 
\*------------------------------------*/
#user-experience .sec-il {
    grid-column: 2 / 12;
}

#user-experience .sec-desc {
    grid-column: 13 / 25;
}


#user-experience .sec-il img {
    padding-top: 132px;
}


@media(min-device-width: 800px) and(max-device-width: 1280px) {

    #user-experience .sec-il {
        grid-column: 4 / 14;
    }

    #user-experience .sec-desc {
        grid-column: 15 / 26;
    }


    #user-experience .sec-il img {
        padding-top: 132px;
    }
}

@media(max-device-width: 800px) {
    #user-experience .sec-il img {
        padding-top: 132px;
        order: 1;
    }

    #user-experience .sec-desc {
        order: 2;
        grid-column: 1 / 26;
    }

    #user-experience .sec-il {
        grid-column: 1 / 26;
    }

}


.heading-highlighted {
    /* Chris Coyier https://css-tricks.com/multi-line-padded-text/  */
    font-family: 'Anton', sans-serif;
    /* text-transform: uppercase; */
    font-size: 35px;
    letter-spacing: 2px;
    font-weight: 300;
    background-color: var(--brightPurple);
    color: #fff;
    display: inline;
    padding: 2px 10px;
    margin: 0;
    line-height: 1.75;
    /* Needs prefixing */
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
}

@media(min-device-width: 800px) {
    .txt-right-on-desktop {
        text-align: right;
    }

}

/*------------------------------------*\
    $persuasive-tells
\*------------------------------------*/
#persuasive-tells .middle {
    grid-column: 5 / 23;
}

@media(max-device-width: 800px) {
    #persuasive-tells .middle {
        grid-column: 1 / 26;
    }
}

/*------------------------------------*\
    $is-puxm-right-for-you
\*------------------------------------*/
/*------------------------------------*\
    $single-column
\*------------------------------------*/
.single-column {
    grid-column: 0 / 20;
}


@media(max-device-width: 800px) {
    .single-column {
        grid-column: 1 / 27;
    }
}
/*------------------------------------*\
    $led-by-jared
\*------------------------------------*/
.sec-desc {
    grid-column: 3 / 16;
}

.sec-il {
    grid-column: 17 / 26;
}

.sec-il img {
    margin-top: 32px;
}

.shadow-box {
    -webkit-box-shadow: 7px 7px 10px 0 rgb(27 51 91 / 8%);
    -moz-box-shadow: 7px 7px 10px 0 rgba(27, 51, 91, 0.075);
    box-shadow: 5px 5px 10px 0 rgb(27 51 91 / 8%), 13px 13px 15px 0 rgb(27 51 91 / 3%);
}

@media(min-device-width: 800px) and(max-device-width: 1280px) {
    .sec-desc {
        grid-column: 2 / 14;
    }

    .sec-il {
        grid-column: 15 / 26;
    }

    .sec-il img {
        margin-top: 32px;
    }
}

@media(max-device-width: 800px) {
    .sec-il img {
        margin-top: 0;
    }

    .sec-desc {
        grid-column: 1 / 26;
    }

    .sec-il {
        grid-column: 1 / 26;
    }

}

/*------------------------------------*\
    $Description&Illustration
\*------------------------------------*/
.sec-desc-b {
    grid-column: 13 / 26;
}

.sec-il-b {
    grid-column: 3 / 12;
    text-align: right;
}

.sec-il-b img {
    margin-top: 32px;
}

@media(min-device-width: 800px) and(max-device-width: 1280px) {
    .sec-desc-b {
        grid-column: 13 / 26;
    }

    .sec-il-b {
        grid-column: 2 / 12;
        text-align: right;
    }

    .sec-il-b img {
        margin-top: 32px;
    }
}

@media(max-device-width: 800px) {
    .sec-il-b img {
        margin-top: 0;
        text-align: left;
    }

    .sec-desc-b {
        grid-column: 1 / 26;
    }

    .sec-il-b {
        grid-column: 1 / 26;
    }

}
/*------------------------------------*\
    $roll-up-your-sleeves
\*------------------------------------*/
/*------------------------------------*\
    $expected-hours
\*------------------------------------*/
/*------------------------------------*\
    $this-intensive-won-t-happen-again-until-november
\*------------------------------------*/
/*------------------------------------*\
    $ready-to-do-this
\*------------------------------------*/
#ready-to-do-this .grid26 {
    margin-top: 30px;
}

.sec-desc-step {
    grid-column: 6 / 22;
}

.sec-il-step {
    grid-column: 2 / 5;
}

.sec-il-step img {
    max-width: 100px;
    margin-left: auto;
    margin-right: 0;
    display: block;
}

.sec-desc-step h3 {
    margin-top: 0;
    margin-bottom: 5px;
}

@media(max-device-width: 800px) {
    .sec-desc-step {
        grid-column: 1 / 26;
    }

    .sec-il-step {
        grid-column: 1 / 26;
    }

    .sec-il-step img {
        max-width: 150px;
        margin: auto;
        display: block;
    }

}

